<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.RocketAPI.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGo.RocketAPI.Console.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PokemonGo.RocketAPI.Console.UserSettings>
      <setting name="DefaultAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KeepAboveIV" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="DefaultLatitude" serializeAs="String">
        <value>34.0114062</value>
      </setting>
      <setting name="DefaultLongitude" serializeAs="String">
        <value>-118.495009</value>
      </setting>
      <setting name="UsePokemonToNotCatchList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuthType" serializeAs="String">
        <value>Google</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="UseGPXPathing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GPXFile" serializeAs="String">
        <value>GPXFILE.gpx</value>
      </setting>
      <setting name="NotTransferPokemonsThatCanEvolve" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolveOnlyPokemonAboveIV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvolveOnlyPokemonAboveIVValue" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="KeepDuplicateAmount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LoiteringActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinutesPerDestination" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FlyingSpeed" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="CatchWhileFlying" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlyingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MoveWhenNoStops" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrioritizeStopsWithLures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DestinationsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DestinationIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayRefreshMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DisplayAllPokemonInLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSpeedAdjustment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSpeedRandomizer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CatchPokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxSpeed" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MaxSecondsBetweenStops" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PriorityType" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="KeepAboveV" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="DisplayAggregateLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepAboveCP" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="MinSpeed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MaxDistance" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="UseLuckyEggs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolvePokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferPokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferBelowCP" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TransferBelowV" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TransferBelowIV" serializeAs="String">
        <value>10</value>
      </setting>
    </PokemonGo.RocketAPI.Console.UserSettings>
  </applicationSettings>
</configuration>