<?xml version="1.0"?>
<PokeRoadieSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AuthType>Google</AuthType>
  <Username></Username>
  <Password></Password>
  <DestinationsEnabled>false</DestinationsEnabled>
  <MinutesPerDestination>30</MinutesPerDestination>
  <DestinationIndex>0</DestinationIndex>
  <CurrentLatitude>0</CurrentLatitude>
  <CurrentLongitude>0</CurrentLongitude>
  <CurrentAltitude>10</CurrentAltitude>
  <MinSpeed>3</MinSpeed>
  <MaxSpeed>15</MaxSpeed>
  <MaxDistance>3000</MaxDistance>
  <MaxDistanceForLongTravel>65</MaxDistanceForLongTravel>
  <EnableSpeedAdjustment>true</EnableSpeedAdjustment>
  <EnableSpeedRandomizer>true</EnableSpeedRandomizer>
  <MaxSecondsBetweenStops>120</MaxSecondsBetweenStops>
  <MaxLocationAttempts>5</MaxLocationAttempts>
  <LongDistanceSpeed>65</LongDistanceSpeed>
  <SpeedCurveDistance>40</SpeedCurveDistance>
  <UseGPXPathing>false</UseGPXPathing>
  <GPXFile>GPXFILE.gpx</GPXFile>
  <EnableWandering>false</EnableWandering>
  <EvolvePokemon>false</EvolvePokemon>
  <EvolvePriorityType>V</EvolvePriorityType>
  <EvolvePriorityType2>IV</EvolvePriorityType2>
  <EvolveAboveIV>0</EvolveAboveIV>
  <EvolveAboveV>0</EvolveAboveV>
  <EvolveAboveCp>0</EvolveAboveCp>
  <UsePokemonsToEvolveList>false</UsePokemonsToEvolveList>
  <TransferPokemon>false</TransferPokemon>
  <TransferPriorityType>V</TransferPriorityType>
  <TransferPriorityType2>IV</TransferPriorityType2>
  <KeepDuplicateAmount>2</KeepDuplicateAmount>
  <KeepAboveCP>0</KeepAboveCP>
  <KeepAboveIV>0</KeepAboveIV>
  <KeepAboveLV>0</KeepAboveLV>
  <KeepAboveV>0</KeepAboveV>
  <AlwaysTransferBelowCP>0</AlwaysTransferBelowCP>
  <AlwaysTransferBelowIV>0</AlwaysTransferBelowIV>
  <AlwaysTransferBelowLV>0</AlwaysTransferBelowLV>
  <AlwaysTransferBelowV>0</AlwaysTransferBelowV>
  <TransferTrimFatCount>0</TransferTrimFatCount>
  <NotTransferPokemonsThatCanEvolve>false</NotTransferPokemonsThatCanEvolve>
  <PowerUpPokemon>false</PowerUpPokemon>
  <PowerUpPriorityType>V</PowerUpPriorityType>
  <PowerUpPriorityType2>IV</PowerUpPriorityType2>
  <PowerUpAboveIV>0</PowerUpAboveIV>
  <PowerUpAboveV>0</PowerUpAboveV>
  <PowerUpAboveCp>0</PowerUpAboveCp>
  <MinStarDustForPowerUps>0</MinStarDustForPowerUps>
  <UsePokemonsToPowerUpList>false</UsePokemonsToPowerUpList>
  <MinCandyForPowerUps>0</MinCandyForPowerUps>
  <MaxPowerUpsPerRound>0</MaxPowerUpsPerRound>
  <FavoritePokemon>false</FavoritePokemon>
  <FavoriteAboveCp>0</FavoriteAboveCp>
  <FavoriteAboveIV>0</FavoriteAboveIV>
  <FavoriteAboveV>0</FavoriteAboveV>
  <CatchPokemon>true</CatchPokemon>
  <MaxCatchSpeed>45</MaxCatchSpeed>
  <VisitPokestops>true</VisitPokestops>
  <MoveWhenNoStops>false</MoveWhenNoStops>
  <PrioritizeStopsWithLures>false</PrioritizeStopsWithLures>
  <LoiteringActive>false</LoiteringActive>
  <VisitGyms>false</VisitGyms>
  <AutoDeployAtTeamGyms>false</AutoDeployAtTeamGyms>
  <PokeBallBalancing>true</PokeBallBalancing>
  <EnableHumanizedThrows>true</EnableHumanizedThrows>
  <ForceExcellentThrowOverCp>600</ForceExcellentThrowOverCp>
  <ForceExcellentThrowOverIV>85</ForceExcellentThrowOverIV>
  <ForceExcellentThrowOverV>200</ForceExcellentThrowOverV>
  <ForceGreatThrowOverCp>400</ForceGreatThrowOverCp>
  <ForceGreatThrowOverIV>65</ForceGreatThrowOverIV>
  <ForceGreatThrowOverV>150</ForceGreatThrowOverV>
  <ExcellentThrowChance>15</ExcellentThrowChance>
  <GreatThrowChance>25</GreatThrowChance>
  <NiceThrowChance>25</NiceThrowChance>
  <CurveThrowChance>35</CurveThrowChance>
  <MissThrowChance>10</MissThrowChance>
  <UseLuckyEggs>false</UseLuckyEggs>
  <UseIncense>false</UseIncense>
  <UseRevives>false</UseRevives>
  <UsePotions>false</UsePotions>
  <UseEggIncubators>false</UseEggIncubators>
  <UsePokemonToNotCatchList>false</UsePokemonToNotCatchList>
  <DisplayRefreshMinutes>10</DisplayRefreshMinutes>
  <DisplayAggregateLog>false</DisplayAggregateLog>
  <DisplayAllPokemonInLog>false</DisplayAllPokemonInLog>
  <DisplayPokemonCount>20</DisplayPokemonCount>
  <DisplayTopCandy>10</DisplayTopCandy>
  <DisplayStyle>disdain</DisplayStyle>
  <WaitOnStart>false</WaitOnStart>
  <WaypointLatitude>0</WaypointLatitude>
  <WaypointLongitude>0</WaypointLongitude>
  <WaypointAltitude>0</WaypointAltitude>
  <UseProxy>false</UseProxy>
  <UseProxyHost />
  <UseProxyPort>0</UseProxyPort>
  <UseProxyAuthentication>false</UseProxyAuthentication>
  <UseProxyUsername />
  <UseProxyPassword />
  <RenamePokemon>false</RenamePokemon>
  <RenameFormat>{V}-{IV}-{N}</RenameFormat>
  <DevicePackageName>htc10</DevicePackageName>
  <DeviceId />
  <MaxRunTimespan>22:00:00</MaxRunTimespan>
  <MinBreakTimespan>02:00:00</MinBreakTimespan>
  <MaxPokemonCatches>975</MaxPokemonCatches>
  <MaxPokestopVisits>975</MaxPokestopVisits>
  <MinDelay>2500</MinDelay>
  <MaxDelay>5000</MaxDelay>
  <EvolutionMinDelay>18000</EvolutionMinDelay>
  <EvolutionMaxDelay>25000</EvolutionMaxDelay>
  <EggHatchMinDelay>12000</EggHatchMinDelay>
  <EggHatchMaxDelay>15000</EggHatchMaxDelay>
  <TransferMinDelay>2500</TransferMinDelay>
  <TransferMaxDelay>5000</TransferMaxDelay>
  <CatchMinDelay>7500</CatchMinDelay>
  <CatchMaxDelay>10000</CatchMaxDelay>
  <RecycleMinDelay>2500</RecycleMinDelay>
  <RecycleMaxDelay>5000</RecycleMaxDelay>
  <PowerUpMinDelay>2500</PowerUpMinDelay>
  <PowerUpMaxDelay>5000</PowerUpMaxDelay>
  <ShowDebugMessages>false</ShowDebugMessages>
  <TeamColor>Blue</TeamColor>
  <PickupDailyDefenderBonuses>false</PickupDailyDefenderBonuses>
  <MinGymsBeforeBonusPickup>3</MinGymsBeforeBonusPickup>
  <IncludeHotPokestops>false</IncludeHotPokestops>
  <CompleteTutorials>false</CompleteTutorials>
  <TutorialPokmonId>Squirtle</TutorialPokmonId>
  <TutorialGenerateCodename>true</TutorialGenerateCodename>
  <TutorialCodename></TutorialCodename>
  <PokedexEntryMinDelay>10000</PokedexEntryMinDelay>
  <PokedexEntryMaxDelay>20000</PokedexEntryMaxDelay>
  <LocationsMinDelay>10000</LocationsMinDelay>
  <LocationsMaxDelay>20000</LocationsMaxDelay>
  <PokeballRefillDelayMinutes>15</PokeballRefillDelayMinutes>
</PokeRoadieSettings>