<?xml version="1.0"?>
<PokeRoadieSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AuthType>Google</AuthType>
  <Username></Username>
  <Password></Password>
  <CurrentLatitude>0</CurrentLatitude>
  <CurrentLongitude>0</CurrentLongitude>
  <CurrentAltitude>10</CurrentAltitude>
  <DestinationIndex>0</DestinationIndex>
  <CatchPokemon>true</CatchPokemon>
  <UseGPXPathing>false</UseGPXPathing>
  <GPXFile>GPXFILE.gpx</GPXFile>
  <MinSpeed>15</MinSpeed>
  <MaxDistance>3000</MaxDistance>
  <UsePokemonToNotCatchList>false</UsePokemonToNotCatchList>
  <EvolvePokemon>false</EvolvePokemon>
  <EvolveOnlyPokemonAboveIV>true</EvolveOnlyPokemonAboveIV>
  <EvolveOnlyPokemonAboveIVValue>90</EvolveOnlyPokemonAboveIVValue>
  <TransferPokemon>false</TransferPokemon>
  <KeepDuplicateAmount>2</KeepDuplicateAmount>
  <NotTransferPokemonsThatCanEvolve>false</NotTransferPokemonsThatCanEvolve>
  <KeepAboveIV>95</KeepAboveIV>
  <KeepAboveV>300</KeepAboveV>
  <KeepAboveCP>1300</KeepAboveCP>
  <TransferBelowIV>0</TransferBelowIV>
  <TransferBelowV>0</TransferBelowV>
  <TransferBelowCP>0</TransferBelowCP>
  <UseLuckyEggs>false</UseLuckyEggs>
  <LoiteringActive>false</LoiteringActive>
  <MinutesPerDestination>60</MinutesPerDestination>
  <FlyingSpeed>250</FlyingSpeed>
  <CatchWhileFlying>false</CatchWhileFlying>
  <FlyingEnabled>true</FlyingEnabled>
  <MoveWhenNoStops>true</MoveWhenNoStops>
  <PrioritizeStopsWithLures>false</PrioritizeStopsWithLures>
  <DestinationsEnabled>false</DestinationsEnabled>
  <DisplayRefreshMinutes>10</DisplayRefreshMinutes>
  <DisplayAggregateLog>false</DisplayAggregateLog>
  <DisplayAllPokemonInLog>false</DisplayAllPokemonInLog>
  <EnableSpeedAdjustment>true</EnableSpeedAdjustment>
  <EnableSpeedRandomizer>true</EnableSpeedRandomizer>
  <MaxSpeed>60</MaxSpeed>
  <MaxSecondsBetweenStops>20</MaxSecondsBetweenStops>
  <PriorityType>V</PriorityType>
  <AutoDeployAtTeamGyms>false</AutoDeployAtTeamGyms>
  <VisitGyms>false</VisitGyms>
  <VisitPokestops>true</VisitPokestops>
</PokeRoadieSettings>