<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokeRoadie.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokeRoadie.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PokeRoadie.UserSettings>
      <setting name="DefaultAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KeepAboveIV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultLatitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultLongitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsePokemonToNotCatchList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuthType" serializeAs="String">
        <value>Google</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="UseGPXPathing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GPXFile" serializeAs="String">
        <value>GPXFILE.gpx</value>
      </setting>
      <setting name="NotTransferPokemonsThatCanEvolve" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepDuplicateAmount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LoiteringActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinutesPerDestination" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LongDistanceSpeed" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="MoveWhenNoStops" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrioritizeStopsWithLures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DestinationsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DestinationIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayRefreshMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DisplayAllPokemonInLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSpeedAdjustment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSpeedRandomizer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CatchPokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxSpeed" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaxSecondsBetweenStops" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="KeepAboveV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayAggregateLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepAboveCP" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxDistance" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="UseLuckyEggs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolvePokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferPokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferBelowCP" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransferBelowV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransferBelowIV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoDeployAtTeamGyms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VisitGyms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VisitPokestops" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransferPriorityType" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="MinSpeed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EvolveAboveCp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EvolveAboveIV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EvolveAboveV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EvolvePriorityType" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="UsePokemonsToEvolveList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseIncense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRevives" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePotions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaypointLatitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaypointLongitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaypointAltitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TransferTrimFatCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PokeBallBalancing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinStarDustForPowerUps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerUpPokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PowerUpAboveCp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerUpAboveIV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerUpAboveV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerUpPriorityType" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="UsePokemonsToPowerUpList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinCandyForPowerUps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxPowerUpsPerRound" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseEggIncubators" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseProxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseProxyAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxDistanceForLongTravel" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="MinDelay" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="MaxDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="FavoriteAboveCp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FavoriteAboveIV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FavoriteAboveV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FavoritePokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenamePokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenameFormat" serializeAs="String">
        <value>{V}-{IV}-{N}</value>
      </setting>
      <setting name="EnableHumanizedThrows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceExcellentThrowOverCp" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ForceExcellentThrowOverIV" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="ForceGreatThrowOverCp" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ForceGreatThrowOverIV" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="ExcellentThrowChance" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GreatThrowChance" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="NiceThrowChance" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ForceExcellentThrowOverV" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ForceGreatThrowOverV" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="CurveThrowChance" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="DevicePackageName" serializeAs="String">
        <value>htc10</value>
      </setting>
      <setting name="MaxRunTimespan" serializeAs="String">
        <value>22:00:00</value>
      </setting>
      <setting name="MinBreakTimespan" serializeAs="String">
        <value>02:00:00</value>
      </setting>
      <setting name="MaxPokemonCatches" serializeAs="String">
        <value>975</value>
      </setting>
      <setting name="MaxPokestopVisits" serializeAs="String">
        <value>975</value>
      </setting>
      <setting name="DisplayPokemonCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="EvolutionMinDelay" serializeAs="String">
        <value>18000</value>
      </setting>
      <setting name="EvolutionMaxDelay" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="EggHatchMinDelay" serializeAs="String">
        <value>12000</value>
      </setting>
      <setting name="EggHatchMaxDelay" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="TransferMinDelay" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="TransferMaxDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="CatchMinDelay" serializeAs="String">
        <value>7500</value>
      </setting>
      <setting name="CatchMaxDelay" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="RecycleMinDelay" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="RecycleMaxDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PowerUpMinDelay" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="PowerUpMaxDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MaxCatchSpeed" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="MaxLocationAttempts" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SpeedCurveDistance" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="EnableWandering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDebugMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeviceId" serializeAs="String">
        <value />
      </setting>
      <setting name="TutorialPokemonId" serializeAs="String">
        <value>Squirtle</value>
      </setting>
      <setting name="TeamColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="PickupDailyDefenderBonuses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PickupDailyBonuses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeHotPokestops" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TutorialCodename" serializeAs="String">
        <value />
      </setting>
      <setting name="TutorialGenerateCodename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayTopCandy" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PokedexEntryMinDelay" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PokedexEntryMaxDelay" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="LocationsMinDelay" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LocationsMaxDelay" serializeAs="String">
        <value>20000</value>
      </setting>
    </PokeRoadie.UserSettings>
  </applicationSettings>
</configuration>
